{{ define "hero" }}
<div id="home-hero">
    <div class="container">
        <div id="home-hero-content">
            <div class="hero-left-col">
                <div id="home-hero-line-1">{{ T "home-hero-line-1" }} </div>
                <div id="home-hero-line-2"><span id="home-hero-word" aria-hidden="true"><noscript>{{ T "home-hero-word" }}</noscript><br></span></div>
                <div id="home-hero-desc">{{ T "home-hero-desc" | safeHTML }}</div>
            </div>
            <div class="hero-right-col">
                <a class="button button-primary" href="/TODO">{{ T "imported--generator-access-request-statement" | safeHTML }}</a>
                <a class="button button-secondary" href="/TODO">{{ T "imported--generator-erasure-request-statement" | safeHTML }}</strong></a>
                <a class="button button-secondary" href="/TODO">{{ T "imported--generator-rectification-request-statement" | safeHTML }}</a>
                <a class="button button-secondary" href="/TODO">{{ T "imported--generator-objection-request-statement" | safeHTML }}</a>
            </div>
        </div>
        <a id="hero-scroll-button" class="button button-hoverless button-unstyled icon-arrow-down" href="#home-content"><span class="sr-only">Mehr Infos</span></a>
    </div>
</div>
{{ end }}

{{ define "main" }}
<main>
    <div id="home-content">
        <div id="hero-claim-box">
            <h1>{{ T "home-claim-title"}}</h1>
            <div class="claim-row">
                <div class="claim-column">
                    <div class="claim-illustration">
                        1
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-choose-company-title" }}</h2>
                        {{ T "home-claim-choose-company" | safeHTML }}
                    </div>
                </div>
                <div class="claim-column">
                    <div class="claim-illustration">
                        2
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-send-title" }}</h2>
                        {{ T "home-claim-send" | safeHTML }}
                    </div>
                </div>
                <div class="claim-column">
                    <div class="claim-illustration">
                        3
                    </div>
                    <div class="claim-text">
                        <h2>{{ T "home-claim-react-title" }}</h2>
                        {{ T "home-claim-react" | safeHTML }}
                    </div>
                </div>
            </div>
            <div class="claim-actions">
                <a id="home-claim-cta" class="button button-primary icon icon-arrow-right" href="{{ "generator" | absURL }}">{{ T "home-claim-button" }}</a>
            </div>
        </div>

    <!-- TODO: This obviously isn't the final design. -->
    {{/* TODO: We should also do the badge-thingy like in the apps. Maybe then we don't even need this?  */}}
    <div id="home-reminders" style="margin-bottom: 50px;"></div>


    <!--
    <section id="your-rights" class="feature-section">
        <h1>{{ T "home-feature-your-rights-title" }}</h1>
        <div class="home-feature">
            <div class="col40">
                <h2>{{ T "home-feature-your-rights-access-title" }}</h2>
            </div>
            <div class="col60">
                <p>{{ T "home-feature-your-rights-access" }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="home-feature">
            <div class="col40">
                <h2>{{ T "home-feature-your-rights-rectification-title" }}</h2>
            </div>
            <div class="col60">
                <p>{{ T "home-feature-your-rights-rectification" }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="home-feature">
            <div class="col40">
                <h2>{{ T "home-feature-your-rights-erasure-title" }}</h2>
            </div>
            <div class="col60">
                <p>{{ T "home-feature-your-rights-erasure" }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="home-feature">
            <div class="col40">
                <h2>{{ T "home-feature-your-rights-object-title" }}</h2>
            </div>
            <div class="col60">
                <p>{{ T "home-feature-your-rights-object" }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="home-feature">
            <div class="col40">
                <h2>{{ T "home-feature-your-rights-portabillity-title" }}</h2>
            </div>
            <div class="col60">
                <p>{{ T "home-feature-your-rights-portabillity" }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <a href="{{ T "home-read-more-url" | absLangURL }}"
            class="button button-primary">{{ T "blog-read-more" }}&nbsp;<span
                class="icon icon-arrow-right"></span></a>
    </section>
-->
</main>
{{ end }}
